<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lazydin</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>

</head>

<body>
    <h1>Lazydin</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/credentials">Login</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/authors">Author</a></li>
        </ul>
    </nav>
</body>

</html>
