<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>

</head>
<script>
    htmx.config({
        "get": {
            "headers": {
                "Accept": "text/html"
            }
        }
    });
</script>

<body>
    <form hx-post="/search" hx-target="#posts" hx-swap="innerHTML" hx-encode="json">
        <label for="query">Search for new posts:</label>
        <input id="query" type="search" name="query">
        <button type="submit">Search</button>
    </form>
    <a href="/search">Search for new posts</a>
    <ul id="posts">
        {{ range . }}
        {{template "post-item" .}}
        {{ end }}
    </ul>
</body>

</html>
